<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il Mio Drive</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'EliteDownload/cloud/cloudStyle.css' %} ">
</head>
<body>
    <nav class="user">
        <span> Loggato come {{ username }}</span>
        <a href="{% url 'login' %}">Logout</a>
    </nav>

    <div class="drive-container">
        <div class="item folder" data-name="Documenti">
            <div class="name">Documenti</div>
            <div class="download">Scarica</div>
        </div>
        <div class="item file" data-name="Presentazione.pptx">
            <div class="name">Presentazione.pptx</div>
            <div class="download">Scarica</div>
        </div>
    </div>
</body>
</html>
