<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il Mio Drive</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'EliteDownload/cloud/cloudStyle.css' %} ">
</head>
<body>
    {% if username %}
    <nav class="user">
        <span> Loggato come {{ username }}</span>
        <a href="{% url 'login' %}">Logout</a>
    </nav>

    <div class="drive-container">
        {% for file in cloud %}
            <div class="item file" data-name="{{ file.name }}">
                <div class="name">{{ file.name }}.pptx</div>
                <a href="{% url 'download' file.id %}" class="download">Scarica</a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</body>
</html>
