<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'EliteDownload/LogReg/LogRegStyle.css' %} ">
</head>
<body>
    <div class="container">
        <div class="form-container">
            {% if message %}
                <p class="error">{{ message }}</p>
            {% endif %}
                {% block content %}
                {% endblock %}
        </div>
        <div class="image-container">

        </div>
    </div>
</body>
</html>