<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'EliteDownload/LogReg/LogRegStyle.css' %} ">
</head>
<body>
    <div class="container">
        <div class="form-container">
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <form method="post" novalidate>
                {% csrf_token %}
                <h2>Registrazione</h2>
                <input type="text" placeholder="Name" name="name" maxlength="20" required>
                <input type="text" placeholder="Surname" name="surname" maxlength="20" required>
                <input type="text" placeholder="Username" name="username" maxlength="20" required>
                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" maxlength="20" required>
                <button type="submit">Registrati</button>
                <p>Hai già un account? <a href="{% url 'login' %}">Accedi</a></p>
            </form>
        </div>
    </div>
</body>
</html>
