<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'EliteDownload/LogReg/LogRegStyle.css' %} ">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form action="/register" method="post">
                <h2>Registrazione</h2>
                <input type="text" placeholder="Username" name="username" required>
                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="password" required>
                <button type="submit">Registrati</button>
                <p>Hai già un account? <a href="login.html">Accedi</a></p>
            </form>
        </div>
    </div>
</body>
</html>
